/* large devices */

@media only screen and (min-width: 992px) {
  body {
    background-size: cover;
  }
  input {
    position: absolute;
    top: 90%;
    padding: 1em;
    font-size: 1.7em;
  }
  #submit {
    position: absolute;
    top: 90%;
  }
  .egg {
    width: 100%;
  }
  .main img {
    width: 50%;
    left: 25%;
  }
  .logolimeo img {
    width: 10%;
    position: relative;
    left: 80%;
    padding: 2em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media screen and (max-width: 768px) {
  input {
    position: absolute;
    top: 50%;
    padding: 1em;
    font-size: 1em;
  }
  #submit {
    position: absolute;
    top: 50%;
  }
  .egg {
    width: 100%;
  }
  .main img {
    width: 50%;
    left: 25%;
  }
  .logolimeo img {
    width: 13%;
    position: relative;
    left: 80%;
    padding: 2em;
  }
}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
  input {
    position: absolute;
    top: 60%;
    padding: 0.5em;
    font-size: 0.8em;
  }
  #submit {
    position: absolute;
    top: 60%;
  }
  .egg {
    width: 200%;
  }
  .main img {
    width: 80%;
    left: 60%;
    top: 50%;
  }
  .logolimeo img {
    width: 50%;
    position: absolute;
    left: 130%;
    padding: 2em;
  }
}
